@model HomeIndexViewModel


<div id="showcase">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Showcase.cshtml",Model.Showcase)
</div>

<div id="features">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Features.cshtml")
</div>

<div id="themes">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Theme.cshtml")
</div>

<div id="manage">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Manage.cshtml")
</div>

<div id="devices">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Devices.cshtml")
</div>

<div id="tools">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Tools.cshtml")
</div>

<div id="subscribe">
    @await Html.PartialAsync("~/Views/Shared/_SubscribeToNewsletter.cshtml", Model.Subscribe)
</div>