<section class="devices">
    <div class="container">
        <div class="image-container">
            <img src="images/Iphone.svg" alt="">
        </div>
        <div class="review-text">
            <h1>
                <span>Download Our App</span>
                <br>
                <span>for any devices:</span>
            </h1>
            <div class="box1">
                <p class="app">App Store</p>
                <img class="star1" src="images/stars.svg" alt="">
                <h3>Editor's Choice</h3>
                <p class="rating">rating 4.7, 187K+ reviews</p>
                <img class="editor-logo" src="images/appstore.svg" alt="">
            </div>
            <div class="box2">
                <p class="google">Google Play</p>
                <img class="star2" src="images/stars.svg" alt="">
                <h3>App of the day</h3>
                <p class="rating">rating 4.8, 30K+ reviews</p>
                <img class="google-logo" src="images/googleplay.svg" alt="">
            </div>
        </div>
    </div>
</section>