<section class="manage">
    <div class="container">
        <img src="images/Dashboard.svg" alt="">
        <div class="info-container">
            <h2>Manage Your Work</h2>
            <div class="info-text">
                <p><a href="#" class="blue-link"><i class="fa-light fa-circle-check"></i></a> Powerful project management</p>
                <p><a href="#" class="blue-link"><i class="fa-light fa-circle-check"></i></a> Transparent work management</p>
                <p><a href="#" class="blue-link"><i class="fa-light fa-circle-check"></i></a> Manage work & focus on the most important tasks</p>
                <p><a href="#" class="blue-link"><i class="fa-light fa-circle-check"></i></a> Track your progress with interactive charts</p>
                <p><a href="#" class="blue-link"><i class="fa-light fa-circle-check"></i></a> Easiest way to track time spent on tasks</p>
            </div>
            <button class="btn-theme" href="#">Learn More<i class="fa-regular fa-arrow-right"></i></button>
        </div>
    </div>
</section>