<section class="themes">
    <div class="container">
        <h1><span class="white">Switch Between</span> <span class="black">Light & Dark Mode</span></h1>
        <div class="macbook-container">
            <img class="lg-mac" src="images/mockup.svg" alt="">
            <div class="mask"></div>
        </div>
    </div>
</section>