<section class="tools">
    <div class="container">
        <div class="headline-text">
            <h1>Integrate Top Work Tools</h1>
            <span>Lorem ipsum sit amet, consectetur adipiscing elit. Proin volupat mollis egestas. Nam luctus</span>
            <span>facilisis ultrices. pellentesque volupat ligulla est. Mattis Fermentum at nec lacus.</span>
        </div>
        <div class="tool-info">
            <div class="box">
                <img src="images/Google.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="box">
                <img src="images/Zoom.svg" alt="">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="box">
                <img src="images/Slack.svg" alt="">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box1">
                <img src="images/gmail.svg" alt="">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.<p>
            </div>
            <div class="box">
                <img src="images/Trello.svg" alt="">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="box">
                <img src="images/MailChimp.svg" alt="">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="box">
                <img src="images/Dropbox.svg" alt="">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="box">
                <img src="images/Evernote.svg" alt="">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>